h1 {
  font-family: "IBM Plex Sans";
  font-weight: 600;
  font-size: 2.4rem;
}

h4 {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-size: 1.5rem;
}

h6 {
  font-size: 0.75rem;
}

small {
  font-size: 0.6rem;
  color: #999;
}

.styled-span {
  display: flex;
  align-items: center;
}

// Carbon Overrides

.bx--accordion__content {
  padding-right: 16px;
}
